<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div id="container">
        <div class="form-wrap">
            <h1>Login</h1>
            <form action="/user/auth" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %>
                <button type="submit">Login</button>
                <p class="bottom-text">Don't have an account? <a href="/user">Sign up here</a></p>
            </form>
        </div>
    </div>

    <footer>
        <p>Copyright © 2024. All Rights Reserved.</p>
        <a href="#">Privacy Policy</a>
    </footer>
</body>
</html>
